{% extends 'base.html' %}

{% block title%}
Bill
{% endblock %}

{% block content%}
<div class="card">
    <div class="card-body">
      <div class="container mb-5 mt-3">
        <div class="row d-flex align-items-baseline">
          <div class="col-xl-9">
            <p style="color: #7e8d9f;font-size: 20px;">Invoice >> <strong>ID: #123-123</strong></p>
          </div>
          <div class="col-xl-3 float-end">
            <a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark"><i
                class="fas fa-print text-primary"></i><button onclick="window.print()" style="border:0px">Print</button></a>
          </div>
          <hr>
        </div>
  
        <div class="container">
          <div class="col-md-12">
            <div class="text-center">
              <i class="fab fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i>
              <p class="pt-0">ecopulp.com</p>
            </div>
  
          </div>
  
  
          <div class="row">
            <div class="col-xl-8">
              <ul class="list-unstyled">
                <li class="text-muted">To: <span style="color:#5d9fc5 ;">{{data[5][0]}}</span></li>
                <li class="text-muted">{{data[6][0]}}</li>
                <li class="text-muted">{{data[7][0]}}</li>
                
              </ul>
            </div>
            <div class="col-xl-4">
              <p class="text-muted">Invoice</p>
              <ul class="list-unstyled">
                <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                    class="fw-bold">ID:</span>#123-456</li>
                <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                    class="fw-bold">Creation Date: </span>{{data[8][0]}}</li>
                <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                    class="me-1 fw-bold">Status:</span><span class="badge bg-warning text-black fw-bold">
                    Unpaid</span></li>
              </ul>
            </div>
          </div>
  
          <div class="row my-2 mx-1 justify-content-center">
            <table class="table table-striped table-borderless">
              <thead style="background-color:#84B0CA ;" class="text-white">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Product</th>
                  <th scope="col">Qty</th>
                  <th scope="col">Unit Price</th>
                  <th scope="col">Amount</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Notebook</td>
                  <td>{{data[0][0]}}</td>
                  <td>₹{{data[0][1]}}</td>
                  <td>₹{{data[0][2]}}</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Diary</td>
                  <td>{{data[1][0]}}</td>
                  <td>₹{{data[1][1]}}</td>
                  <td>₹{{data[1][2]}}</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Clear Bag</td>
                  <td>{{data[2][0]}}</td>
                  <td>₹{{data[2][1]}}</td>
                  <td>₹{{data[2][2]}}</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>ID cards</td>
                    <td>{{data[3][0]}}</td>
                    <td>₹{{data[3][1]}}</td>
                    <td>₹{{data[3][2]}}</td>
                  </tr>
              </tbody>

  
            </table>
          </div>
          <div class="row">
            <div class="col-xl-8">
              
            </div>
            <div class="col-xl-3">
             
              <p class="text-black float-start"><span class="text-black me-3"> Total Amount</span><span
                style="font-size: 25px;">₹{{data[4][0]}}</span></p>

              
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xl-10">
              <p>Thank you for your purchase</p>
            </div>
            <div class="col-xl-2">
              <button type="button" class="btn btn-primary text-capitalize"
                style="background-color:#60bdf3 ;">Pay Now</button>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>

{% endblock %}
